[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
wsstat = "*"

[packages]
iso3166 = "*"
responder = "*"
aiohttp = "*"
wdb = "*"

[requires]
python_full_version = "3"
